/* to fix "embedded" a-scene param bug */
html.a-fullscreen .a-canvas {
    height: 100% !important;
    left: 0 !important;
    position: absolute !important;
    top: 0 !important;
    width: 100% !important;
}

.target-container {
    position: absolute;
    top: 3rem;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(90deg, rgb(35, 15, 109, 0.7), rgb(0, 163, 217, 0.7));
    clip-path: polygon(0% 0%, 0% 100%,
        20% 100%,
        20% 20%,
        85% 20%,
        85% 58%,
        20% 58%,
        20% 100%,
    100% 100%, 100% 0%);
}

.model-title,
.model-description {
    display: none;
}

.target-container .text-container {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    bottom: 15vh;
}

.target-container .text-container img {
    margin-right: 1rem;
}

.target-container .text-container span {
    text-transform: uppercase;
    color: white;
    font-size: 1rem;
    font-weight: bold;
    line-height: 1;
}

.ar.permissions-dialog {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 100;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.ar.permissions-dialog .camera-info {
    position: absolute;
    bottom: 0;
}

.issue {
    margin-bottom: 1rem;
}

.issue > div {
    font-weight: bold;
}
